{% extends 'layouts/admin_main.html' %}

{% block title %} Dashboard For Bank Users {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock stylesheets %}

{% block content %}
<!-- partial:../../partials/_navbar.html -->

<!-- partial -->

<!-- partial:../../partials/_settings-panel.html -->
<!-- partial -->
<!-- partial:../../partials/_sidebar.html -->

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">



                                <form action="" id="user-form">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Create New User</h5>

                                    </div>
                                    <div class="modal-body">
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="username">Username</label>
                                                        <input type="text" name="username" id="username"
                                                            class="form-control" placeholder="Username"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="email">Email
                                                            address</label>
                                                        <input type="email" name="email" id="email" class="form-control"
                                                            placeholder="email address" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label"
                                                            for="password">Password</label>
                                                        <input type="password" name="password" id="password"
                                                            class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="role">Role</label>
                                                        <select name="role" id="role" class="form-control">
                                                            <option value="">Select Role</option>
                                                            <option value="admin">Administrator</option>
                                                            <option value="class_teacher">Class Teacher</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row" id="classTeacher_div" style="display: none;">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="grade">Select Class</label>
                                                            <select name="grade" id="grade" class="form-control">
                                                                <option value="">---Select Class---</option>
                                                                <option value="VII">VII</option>
                                                                <option value="VIII">VIII</option>
                                                                <option value="IX">IX</option>
                                                                <option value="X">X</option>
                                                                <option value="XI">XI</option>
                                                                <option value="XII">XII</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="section">Select Section</label>
                                                            <select name="section" id="section" class="form-control">
                                                                <option value="">---Select Section---</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="D">D</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="section">Select Stream</label>
                                                            <select name="stream" id="stream" class="form-control">
                                                                <option value="">---Select Stream---</option>
                                                                <option value="Arts">Arts</option>
                                                                <option value="Commerce">Commerce</option>
                                                                <option value="Science">Science</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="section">Select Subject</label>
                                                            <select name="subject" id="subject" class="form-control">
                                                                <option value="">---Select Subject---</option>
                                                                <option value="English">English</option>
                                                                <option value="Dzongkha">Dzongkha</option>
                                                                <option value="Mathematics">Mathematics</option>
                                                                <option value="Economics">Economics</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" id="save" class="btn btn-primary">Save</button>
                                    </div>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->

    <!-- partial -->
</div>
<!-- main-panel ends -->

<!-- page-body-wrapper ends -->

<!-- container-scroller -->
<!-- plugins:js -->
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $("#save").on("click", function () {
        var form = document.getElementById("user-form");
        var data = new FormData(form);
        $.ajax({
            type: 'POST',
            url: '/save-user',
            data: data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (res) {
                swal("Information successfully saved", "Click Ok to continue", "success")
                    .then(function () {
                        $('#user-form').trigger('reset')
                        window.location = "/admin-user-list"
                    })

            },
        });
    });


    $("#role").on("change", function(){
        let role =  $("#role").val();
        if(role === "class_teacher"){
            $("#classTeacher_div").show();
        }else{
            $("#classTeacher_div").hide();
        }
    });
</script>


{% endblock javascripts %}