{% extends 'layouts/enroll_main.html' %}

{% block title %} Student Management System {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="container">

	<ol class="breadcrumb ">
		<li><a href="{{url_for('home_blueprint.route_default')}}"><i class="fa fa-home" style="font-size: 15px;">
					Home</i></a></li>
		<li class="active" style="font-size: 13px;">Student Registration</li>
	</ol>
	<hr style="position: relative; top: 3px; border: none; height: 2px; background: black;">				
	<h4 class="well">
		<img src="../static/admin_images/faces/uahead.png">
		<hr>
		<b>Classes X(Repeaters), XI & XII(Repeaters) and General Provisional Admission-2022</b>
		<br>
		<br>
		<div class="form-group ">
			<div class="row ">
				<div class="col-md-3">
					<div class="form-check form-check-inline">
						<label for="class_select">X (Repeaters) </label>
						<input class="form-check-input" type="radio" name="class_select" id="X" value="X">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-check form-check-inline">
						<label for="class_select">XI (Repeaters) </label>
						<input class="form-check-input" type="radio" name="class_select" id="XI" value="XI">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-check form-check-inline">
						<label for="class_select">XII (Repeaters) </label>
						<input class="form-check-input" type="radio" name="class_select" id="XII" value="XII">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-check form-check-inline">
						<label for="class_select">General </label>
						<input class="form-check-input" type="radio" name="class_select" id="General" value="">
					</div>
				</div>
			</div>
		</div>
	</h4>

	<div class="col-lg-12 well form_title">
		<div class="row">
			<h2 class="text-center">Your form will appear here!</h2>
			
	    </div>
	</div>
    <!-- enddddd -->
	<div class="col-lg-12 well form_std d-none">
		<h4 class="text-center grade_x_title">Registration for class X</h4>
		<h4 class="text-center grade_xi">Registration for class XI</h4>
		<h4 class="text-center grade_xii">Registration for class XII</h4>
		<h4 class="text-center general_grade">Registration for General (VII - IX)</h4>
		<div class="row">
			<form method="POST" id="registration_form" action="" enctype="multipart/form-data">
				<div class="p-1 mb-2 mt-3 bg-primary" style="font-weight: 500;
				font-size: 13px; text-align:center">Student's Personal Detail<span class="text-danger">
						*</span></div>
				<!-- student's detail -->
				<br><br>
				<div class="student">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label for="half_photo" class="control-label col-sm-4 text-right" class="form-control-label">Upload Passport Size Photo (image) :</label>
								<div class="col-sm-8">
									<input type="file" class="form-control rounded-2" name="half_photo" id="half_photo" />
								</div>
							</div>
							<div class="form-group row">
								<label for="lastname" class="control-label col-sm-4 text-right" >Last Name :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter Last Name" class="form-control" name="last_name" id="last_name">
								</div>
							</div>
							<div class="form-group row">
								<label for="gender" class="control-label col-sm-4 text-right" >Gender :</label>
								<div class="col-sm-8">
									<select class="form-control form-select" name="gender" id="gender">
										<option value="">---Select One---</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										<option value="Others">Others</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="email_address" class="control-label col-sm-4 text-right">Email Address :</label>
								<div class="col-sm-8">
									<input type="email" placeholder="Enter email" class="form-control" name="email" id="email">
								</div>
							</div>
							<div class="form-group row">
								<label for="permanent_gewog" class="control-label col-sm-4 text-right">Gewog :</label>
								<div class="col-sm-8">
									<select class="form-control form-select" id="permanent_gewog" name="permanent_gewog">
										<option value="">---Select Gewog---</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="email_address" class="control-label col-sm-4 text-right">Phone Number :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter Phone Number" class="form-control" name="phone_number"
									id="phone_number">							
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
								<label for="firstname" class="control-label col-sm-4 text-right" class="form-control-label">First Name :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter Last Name" class="form-control" name="first_name" id="first_name">
								</div>
							</div>
							<div class="form-group row">
								<label for="cid" class="control-label col-sm-4 text-right" >citizenship identity card :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter CID" class="form-control" name="cid" id="cid">
								</div>
							</div>
							<div class="form-group row">
								<label for="DOB" class="control-label col-sm-4 text-right" >Date Of Birth :</label>
								<div class="col-sm-8">
									<input type="date" placeholder="Enter DOB" class="form-control" name="dob" id="dob">
								</div>
							</div>
							<div class="form-group row">
								<label for="Dzongkhag" class="control-label col-sm-4 text-right" >Dzongkhag :</label>
								<div class="col-sm-8">
									<select class="form-control form-select" name="permanent_dzongkhag"
									id="permanent_dzongkhag">
									<option value="">---Select Dzongkhag---</option>
									{% for row in dzo_List %}
									<option value="{{ row.dzo_id }}">{{ row.dzo_name }}</option>
									{% endfor %}
								</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="permanent_village" class="control-label col-sm-4 text-right">Village :</label>
								<div class="col-sm-8">
									<select class="form-control form-select" id="permanent_village" name="permanent_village">
										<option value="">---Select Village---</option>
									</select>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<!-- ends student's details -->
				<!-- Academic details -->
				<div class="p-1 mb-2 mt-3 bg-primary" style="font-weight: 500; font-size: 13px; text-align:center;">Academic Detail<span class="text-danger">*</span></div> <br><br>
				<div class="academic">
					<div class="row ">
						<div class="col-md-6">
							<div class="form-group row">
								<label for="indexnumber" class="control-label col-sm-4 text-right" class="form-control-label">Index Number :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter Index Number" class="form-control" name="index_number"id="index_number">
								</div>
							</div>
							<div class="form-group row pre_school">
								<label for="PreviouSchool" class="control-label col-sm-4 text-right" >Previous School :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter Previous School Name" class="form-control" name="previous_school" id="previous_school">
								</div>
							</div>
							<div class="form-group row pre_school_XII d-none">
								<label for="BHSEC" class="control-label col-sm-4 text-right" >BHSEC (Class XII) :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter School Name" class="form-control" name="previous_school_XII" id="previous_school_XII">
								</div>
							</div>
							<!-- <div class="form-group row">
								<label for="gender" class="control-label col-sm-4 text-right" >Accommodation (if admitted) :</label>
								<div class="col-sm-8">
									<select class="form-control form-select" name="accommodation" id="accommodation">
										<option value="">---Select One---</option>
										<option value="Boarder">Boarder</option>
										<option value="Day student">Day student</option>
										<option value="Paying guest">Paying guest</option>
									</select>
								</div>
							</div> -->
							<div class="form-group row">
								<label for="result" class="control-label col-sm-4 text-right" >Upload Marksheet/result (image) :</label>
								<div class="col-sm-8">
									<input type="file" class="form-control rounded-2" name="marksheet" id="marksheet" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row emis_code d-none">
								<label for="stdcode" class="control-label col-sm-4 text-right" class="form-control-label">Student Code (EMIS code) :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter student code" class="form-control" name="std_code" id="std_code">
								</div>
							</div>
							<div class="form-group row pre_school_X d-none">
								<label for="cid" class="control-label col-sm-4 text-right" >BCSE (Class X) :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter School Name" class="form-control"name="previous_school_X" id="previous_school_X">
								</div>
							</div>
							
							<div class="form-group row admission_for">
								<label for="DOB" class="control-label col-sm-4 text-right" >Admission for? (Enter class) :</label>
								<div class="col-sm-8">
									<select class="form-control form-select" name="admission_for" id="admission_for">
										<option value="">---Select One---</option>
										<option value="VII">VII</option>
										<option value="VIII">VIII</option>
										<option value="IX">IX</option>
										<option value="X">X</option>
										<option value="XI">XI</option>
										<option value="XII">XII</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="PreviouSchool" class="control-label col-sm-4 text-right" >Percentage(%) :</label>
								<div class="col-sm-8">
									<input type="text" placeholder="Enter percentage obtained" class="form-control" name="percent" id="percent">
								</div>
							</div>
						</div>	
					</div>
				</div>
				<!-- Academic detail end -->
				<div class=" p-1 mb-2 mt-3 bg-primary" style="font-weight: 500;font-size: 13px; text-align:center;">Parent's/gaurdian's Detail<span class="text-danger"> *</span></div> <br><br>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label for="parent_cid" class="control-label col-sm-4 text-right" class="form-control-label">citizenship ID :</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Enter Parent/gaurdian's CID" class="form-control" name="parent_cid"id="parent_cid">
							</div>
						</div>
						<div class="form-group row">
							<label for="phone_number" class="control-label col-sm-4 text-right" class="form-control-label">Phone Number :</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Enter Parent's Number" class="form-control" name="parent_number"id="parent_number">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label for="Name" class="control-label col-sm-4 text-right" >Name :</label>
							<div class="col-sm-8">
								<input type="text" placeholder="Enter Parent/gaurdian Name" class="form-control" name="parent_name"id="parent_name">
							</div>
						</div>
						<div class="form-group row">
							<label for="email" class="control-label col-sm-4 text-right" > Email Address :</label>
							<div class="col-sm-8">
								<input type="email" placeholder="Enter Parent's Email" class="form-control" name="parent_email"id="parent_email">
							</div>
						</div>
					</div>
				</div>
				<!-- present address -->
				<div class=" p-1 mb-2 mt-3 bg-primary" style="font-weight: 500; font-size: 13px; text-align: center;">Present Address Detail<span class="text-danger"> *</span></div> <br><br>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label for="present_dzongkhag" class="control-label col-sm-4 text-right" class="pull-left form-label">Dzongkhag :</label>
							<div class="col-sm-8">
								<select class="form-control form-select" name="present_dzongkhag" id="present_dzongkhag">
									<option value="">---Select Dzongkhag---</option>
									{% for row in dzo_List %}
									<option value="{{ row.dzo_id }}">{{ row.dzo_name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="present_village" class="control-label col-sm-4 text-right" class="pull-left form-label">Village :</label>
							<div class="col-sm-8">
								<select class="form-control form-select" id="present_village" name="present_village">
									<option value="">---Select Village---</option>
								</select>			
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label for="present_gewog" class="control-label col-sm-4 text-right" class="pull-left form-label">Gewog :</label>
							<div class="col-sm-8">
								<select class="form-control form-select" id="present_gewog" name="present_gewog">
									<option value="">---Select Gewog---</option>
								</select>					</div>
						</div>
						
					</div>
				</div>
				<!-- accomodation details -->
				<div class=" p-1 mb-2 mt-3 bg-primary" style="font-weight: 500; font-size: 13px; text-align: center;">Accommodation Detail <span class="text-danger"> *</span></div> <br><br>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label for="gender" class="control-label col-sm-4 text-right" >Accommodation (if admitted) :</label>
							<div class="col-sm-8">
								<select class="form-control form-select" name="accommodation" id="accommodation">
									<option value="">---Select One---</option>
									<option value="Boarder">Boarder</option>
									<option value="Day student">Day student</option>
									<option value="Paying guest">Paying guest</option>
								</select>
							</div>
						</div>	
					</div>
					<div class="stream_choose">
						<div class="row ">
							<div class="col-md-3">
								<label for="stream" class="pull-left form-label">Choose Stream admission :</label>
							</div>
						</div> <br>
				
						<div class="form-group ">
							<div class="row ">
								<div class="col-md-4">
									<div class="form-check form-check-inline">
										<label for="stream">Arts </label>
										<input class="form-check-input" type="radio" name="stream" id="arts" value="Arts">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-check form-check-inline">
										<label for="stream">Commerce </label>
										<input class="form-check-input" type="radio" name="stream" id="commerce"
											value="Commerce">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-check form-check-inline">
										<label for="stream">Science </label>
										<input class="form-check-input" type="radio" name="stream" id="science"
											value="Science">
									</div>
								</div>
							</div>
						</div>
					</div><br><br>
					<div class="linkfee">
						<h5>Fees need to be paid only if you have approved your admission, <a href="{{url_for('home_blueprint.studentFee')}}">click here</a> to know more detail about fees.</h5>
					</div>
				</div>
				<!-- end accumodation detail -->
				<div class="button-center">
					<button type="submit" class="btn btn-sm btn-warning student_reg" style="color: white;width: 101px;height: 40px;font-size: 16px;">Submit</button>
				</div>
		    </form>
	    </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}


{% endblock javascripts %}