{% extends 'layouts/signin.html' %}

{% block title %} Login {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{{url_for('home_blueprint.route_default')}}">Home</a></li>
		<li class="active">Admin Login</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<hr>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">Sign in to your account</h3>
						<p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signup.html">Register</a>
							adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis
							odio. </p>
						<hr>

						<form>
							<div class="top-margin">
								<label>Username/Email <span class="text-danger">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="top-margin">
								<label>Password <span class="text-danger">*</span></label>
								<input type="password" class="form-control">
							</div>

							<hr>

							<div class="row">
								<div class="col-lg-8">
									<b><a href="">Forgot password?</a></b>
								</div>
								<div class="col-lg-4 text-right">
									<button class="btn btn-action" type="submit"><a href="{{url_for('admin_blueprint.admin_dashboard')}}">Sign in</a></button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>

		</article>
		<!-- /Article -->

	</div>
</div> <!-- /container -->


<!-- /social links -->
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}