{% extends 'layouts/enroll_main.html' %}

{% block title %} Student Management System {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<ol class="breadcrumb ">
	<li><a href="{{url_for('home_blueprint.route_default')}}"><i class="fa fa-home" style="font-size: 15px;">
				Home</i></a></li>
	<li class="active" style="font-size: 13px;"> Fees 2022 Academic Session</li>
</ol>
<hr> 
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto bg-white rounded shadow">
                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table table-fixed">
                        <tbody>
                            <br>
                            <th scope="col" class="col-1">Class</th>
                                <th scope="col" class="col-2">Stream</th>
                                <th scope="col" class="col-2">Day student</th>
                                <th scope="col" class="col-2">Boarding</th>
                                <th scope="col" class="col-5">Full Academic Session (Term I & Term II)</th>
                            </th>
                            <tr>
                                <td scope="row" class="col-1"> VII-VIII</td>
                                <td class="col-2">-</td>
                                <td class="col-2">Nu.32,000</td>
                                <td class="col-2">Nu.64,000</td>
                                <td class="col-md-5">Nu. 96,000 (Ninety six thousand)</td>

                            </tr>
                            <tr>
                                <td scope="row" class="col-1">IX</td>
                                <td class="col-2">-</td>
                                <td class="col-2">Nu. 40,000</td>
                                <td class="col-2">Nu. 56,000</td>
                                <td class="col-md-5">Nu. 96,000 (Ninety six thousand)</td>

                            </tr>
                            <tr>
                                <td scope="row" class="col-1">X</td>
                                <td class="col-2">-</td>
                                <td class="col-2">Nu. 44,000</td>
                                <td class="col-2">Nu. 54,000</td>
                                <td class="col-md-5">Nu. 98,000 (Ninety eight thousand)</td>

                            </tr>
                            <tr>
                                <td scope="row" class="col-1">XI & XII</td>
                                <td class="col-2">Arts/Com</td>
                                <td class="col-2">Nu. 48,000</td>
                                <td class="col-2">Nu. 50,000</td>
                                <td class="col-md-5">Nu. 98,000 (Ninety eight thousand)</td>

                            </tr>
                          
                            <tr>
                                <td scope="row" class="col-1">XI</td>
                                <td class="col-2">Science</td>
                                <td class="col-2">Nu. 49,500</td>
                                <td class="col-2">Nu. 50,000</td>
                                <td class="col-md-5">Nu. 99,500 (Ninety nine thousand five hundred)</td>

                            </tr>
                            <tr>
                                <td scope="row" class="col-1">XII</td>
                                <td class="col-2">Science</td>
                                <td class="col-2">Nu. 52,000</td>
                                <td class="col-2">Nu. 50,000</td>
                                <td class="col-md-5">Nu. 102,000 (One hundred and two thousand)</td>
                            </tr>
                            <tr>
                                <td scope="row" class="col-12">
                                    <br><br>
                                   <h3><b>Note:</b> The government scholarship amount (if selected) is adjustable in the above mention fees 
                                    - only the remaining will have to be paid by the parent(s)/guardian(s)<h3><br> 
                                    <h4>*Admission Confirmation Fees  as mentioned below is applicable to all new students (both school and boarding) except
                                         UA scholarship and “kidu” students</h4><br>
                                    <h4> <b>School:</b>  Nu.1000/- one thousand only (to meet overtime expenses of Admission Desk Committee members on duty)</h4><br>
                                    <h4><b> Boarding:</b>Nu.5000/- five thousand only (no separate collection for mattress and bed-cover)</h4><br>
                                    <h3> <u>There will be no separate collection for admission forms.</u> </h3><br>
                                    <h4>*Starting from 2022 academic session, all day students will have to pay an additional Nu.5000/- (five thousand) per Term for lunch; <u>no student will be allowed to move out during class days unless authorized by SAT.</u> </h4><br>
                                    <h4>The school also runs two Paying Guest (PG) Hostels: <br>
                                        <br>
                                        *Wolokha PG (for boys) – UA Campus II is 3 Km away but has a congenial study environment <br>   <br>
                                        A separate transport fee of Nu.2500/- (Two thousand five hundred) per Term is collected for the daily bus service</h4><br>
                                        <br>
                                        <h4>Gomo Delux PG (for girls) <br><br>
                                            A separate fee of Nu.3000/- (three thousand) per Term is collected as girls are kept in rooms with better facilities. It is located adjacent to the school and enjoys an autonomous mess arrangement also.</h4><br>
                                            <br>
                                            <h4>*A separate <u>security deposit of Nu.3000/-</u>  (Three thousand) for boarding students and Nu.2000/- (two thousand) day students (refundable if not deducted for damages/fines) will have to be paid once at the time of admission.</h4><br> <br>
                                            <h4>Also, Nu.3000/- (Three thousand) ICT Fees per annum is charged separately and an additional Nu1000/- for <u>tablet/smart phone </u>care for boarding students. As mentioned every student must bring his/her own <u>tablet/smart phone</u> for blended approach in NNC/eResources – a requirement as per the Learning Management System (LMS). The school is equipped with free intranet facilities – upgraded from 100 to 500 concurrent users in 2022 academic session
                                                <br><br>
                                                *For more details, like installments/mode of payment, please contact our <b>Finance Officer Ms Dechen Peldon on 17671602</b> </h4>
                                            <td scope="row" class="col-12">
                                                <h4>*There are also licensed private PG Hostels near UA (for both girls and boys) for parents/guardians  in case they are not able to get boarding or choose something different. <br><br>
                                                   <b>Comments:</b>  Kindly note that the above fee in the table was approved in October of 2017 by PSD, DSE & MoE.</h4>
                                            </td>

                                        </td>
                            </tr>
                        </tbody>   
                    </table>
                </div><!-- End -->
                 <br><br>
            </div>
        </div>
    </div>
    <br><br>
   

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}