{% extends 'layouts/admin_main.html' %}

{% block title %} Dashboard For Bank Users {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock stylesheets %}

{% block content %}
<!-- partial:../../partials/_navbar.html -->

<!-- partial -->

<!-- partial:../../partials/_settings-panel.html -->


<!-- partial -->
<!-- partial:../../partials/_sidebar.html -->

<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Student Application List</h4>
            <hr>
            <div class="card-body">
              <div class="row">
                  <div class="table-responsive">
                      <table class="table align-items-center table-flush" id="customerList" style="width: 100%;">
                          <thead class="thead-light">
                          <tr>
                              <th scope="col" class="sort" data-sort="name">SL</th>
                              <th scope="col" class="sort" data-sort="name">Index Number</th>
                              <th scope="col" class="sort" data-sort="budget">CID</th>
                              <th scope="col" class="sort" data-sort="name">Student Name</th>
                              <th scope="col" class="sort" data-sort="name">Email</th>
                              <th scope="col" class="sort" data-sort="name">Status</th>
                              <th scope="col">action</th>
                          </tr>
                          </thead>
                          <tbody class="list">
                           
                            {% for std in users_std %}
                            <tr>
                                <th scope="row">
                                    {{ loop.index }}
                                </th>
                                <th scope="row">
                                    {{ std.index_number }}
                                </th>
                                <td class="budget">
                                    {{ std.student_cid}}
                                </td>
                                <td class="budget">
                                    {{ std.first_name }}
                                </td>
                                <td class="budget">
                                  {{ std.first_name }}
                              </td>
                              <td class="budget">
                                {{ std.student_email }}
                            </td>
                            <td class="budget">
                                {{ std.status }}
                            </td>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div
                                            class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item"
                                                href="/std-detials/{{ std.id }}">View</a>
                                            <a class="dropdown-item" href="javascript:void(0)"
                                                onclick="deleteUser('{{ std.id }}')">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                      
                            </tbody>
                      </table>

                  </div>

              </div>
          </div>
          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->

<!-- partial -->
<!-- main-panel ends -->

<!-- page-body-wrapper ends -->

<!-- container-scroller -->
<!-- plugins:js -->


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
   $(document).ready(function() {
        loadUsers()
    });
  function loadUsers(){
        $('#customerList').DataTable({
            'processing': true,
            'serverSide': true,
            'bDestroy': true,
            'serverMethod': 'POST',
            'ajax': {
                'url':'/users-std'
            },
            'columns': [
                { data: 'sl' },
                { data: 'index_number' },
                { data: 'student_cid' },
                { data: 'first_name' },
                { data: 'student_email' },
                { data: 'status' },
              
                {
                "render": function(data, type, full, meta) {
                    return '<div class="dropdown">'+
                        '<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:orange">'+
                            '<b>Click</b>'+
                        '</a>'+
                        '<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">'+
                            '<a class="dropdown-item" href="/std-detials/' + full.id + '">View</a>'+
                            '<a class="dropdown-item" href="javascript:void(0)" onclick="deleteUser('+full.id+')">Delete</a>'+
                        '</div>'+
                    '</div>'
                }
                },
            ],
            language: {
            paginate: {
                next: '&#8594;', // or '→'
                previous: '&#8592;' // or '←' 
            }
            },
            "ordering": false
        });
    }

    function deleteUser(id){
        swal({
                title: "Are you sure?",
                text: "You will not be able to recover this data!",
                type: "warning",
                showCancelButton: true,
                showConfirmButton: true
            }).then(function(isConfirm) {
                if (isConfirm.value == true) {
                    $.ajax({
                        url: '/delete/'+id,
                        type: 'POST',
                        success: function(){
                            swal({
                            title: 'Success!',
                            text: 'User delete successful!',
                            type: 'success'
                            }).then(function(){
                                loadUsers();
                            });
                        },
                        error: function(){
                            swal("Error", "Error while deleting user. Refresh page and try again :)", "error");
                        }
                     })
                    
                } else {
                    swal("Cancelled", "Your data is safe :)", "error");
                }
             })  
        }
</script>

  {% endblock javascripts %}