{% extends 'layouts/admin_main.html' %}

{% block title %} Student Management System {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
    type="text/css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
    type="text/css" />
{% endblock stylesheets %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Student Detail</h4>
                        <hr>
                        <form method="POST" id="update_form" action="" enctype="multipart/form-data">
                            <div class="p-1 mb-2 mt-3 bg-secondary" style="font-weight: 500;
                            font-size: 13px">Student's Personal Detail<span class="text-danger">
                            *</span></div>
                            <!-- student's detail -->
                            <div class="student">
                                <div class="row ">
                                    <div class="col-sm-4 form-group">
                                        <p><b>CID:</b><br>
                                             {{std.student_cid}}</p>


                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>First Name:</b><br> {{std.first_name}}</p>
                                    </div>

                                    <div class="col-sm-4 form-group">
                                        <p><b>Last Name:</b><br> {{std.last_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <p><b>Gender:</b> <br>{{std.gender}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Date of Birth:</b><br> {{std.dob}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Email Address:</b> <br>{{std.student_email}}</p>
                                    </div>
                                   
                                </div>
                                <div class="row ">
                                    <div class="col-sm-4 form-group">
                                        <p><b>Dzongkhag:</b> <br>{{std_info.dzo_name}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Gewog:</b><br> {{std_info.gewog_name}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Village:</b><br> {{std_info.village_name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <p><b>Phone Number:</b> <br>{{std.student_phone_number}}</p>
                                    </div>
                                </div>
                            </div>

                            <!-- ends student's details -->
                            <!-- Academic details -->
                            <div class="p-1 mb-2 mt-3 bg-secondary" style="font-weight: 500;
                    font-size: 13px">Academic Detail<span class="text-danger">
                                    *</span></div>
                            <div class="academic">
                                <div class="row ">
                                    <div class="col-sm-4 form-group">
                                        <p><b>Index Number:</b><br> {{std.index_number}}</p>
                                    </div>

                                    <div class="col-sm-4 form-group" {% if(std.student_code=='') %} hidden  {% endif %}>
                                        <p><b>Student Code:</b> <br>{{std.student_code}}</p>
                                    </div>

                                    <div class="col-sm-4 form-group" {% if(std.bcse_x=='') %} hidden  {% endif %}>
                                        <p><b>BCSE (Class X):</b> <br>{{std.bcse_x}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group" {% if(std.bhsec_xii=='') %} hidden  {% endif %}>
                                        <p><b>BHSEC (Class XII):</b><br> {{std.bhsec_xii}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Accommodation (if admitted):</b> <br>{{std.accommodation}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Admission for? (Enter class):</b><br> {{std.admission_for_class}}</p>
                                    </div>

                                    <div class="col-sm-4 form-group" {% if(std.previous_school_name=='') %} hidden  {% endif %}>
                                        <p><b>Previous School:</b><br> {{std.previous_school_name}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group" {% if(std.stream==None ) %} hidden  {% endif %}>
                                        <p><b>Stream:</b><br> {{std.stream}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>SUPW Grade:</b><br> {{std.supw_grade}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Percentage:</b> <br>{{std.percentage_obtained}}%</p>
                                    </div>
                                </div>
                               
                                <div class="col-md-4 col-lg-4">
                                    <div class="gal-detail thumb ">
                                        <h5>Marksheet</h5>
                                        <a href="{{ std.marksheet }}" class="image-popup" title="marksheet Photo">
                                            <img src="{{ std.marksheet }}" class="thumb-img-mark" width="400"
                                                height="550" alt="Marksheet Image">
                                        </a>

                                    </div>
                                </div>

                            </div>
                            <!-- Academic detail end -->

                            <div class=" p-1 mb-2 mt-3 bg-secondary" style="font-weight: 500;
                    font-size: 13px">Parent's/gaurdian's Detail<span class="text-danger"> *</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <p><b>CID:</b> <br>{{std.parent_cid}}</p>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <p><b>Name:</b><br> {{std.parent_full_name}}</p>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <p><b>Phone Number:</b> <br>{{std.parent_contact_number}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <p><b>Email Address:</b> <br>{{std.parent_email}}</p>
                                </div>
                            </div>

                            <div class=" p-1 mb-2 mt-3 bg-secondary" style="font-weight: 500;
                    font-size: 13px">Present Address Detail<span class="text-danger"> *</span></div>
                            <div class="row">
                                <div class="row col-lg-12">
                                    <div class="col-sm-4 form-group">
                                        <p><b>Dzongkhag:</b><br> {{std.dzo_name}}</p>
                                    </div>
                                    <div class="col-sm-4 form-group">

                                        <p><b>Gewog:</b> <br>{{std.gewog_name}}</p>
                                    
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <p><b>Village:</b><br> {{std.village_name}}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <input type="hidden" name="email" value="{{ std.student_email }}">
                                <input type="hidden" name="name" value="{{ std.first_name }}">
                                <input type="hidden" name="app_id" value="{{std.id}}">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label col-form-label" for="action">Action</label>
                                        <select name="action" id="action" class="form-control form-control-sm">
                                            <option value="">Select Action</option>
                                            <option value="returned">Return Application</option>
                                            <option value="approved">Approved Application</option>
                                        </select>
                                        <span class="invalid-feedback">Please select action type</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label col-form-label" for="">Narration</label>
                                        <textarea name="narration" class="form-control form-control-sm"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="update" class="btn btn-md btn-primary">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $("#action").on('change', function () {
        if (this.value == '') {
            $("#action").addClass('is-invalid')
        } else {
            $("#action").removeClass('is-invalid')
            $("#action").addClass('is-valid')
        }
    });

    $("#update").on('click', function () {
        if ($("#action").val() == '') {
            $("#action").addClass('is-invalid')
        } else {
            var form_data = new FormData($('#update_form')[0])
            $.ajax({
                type: "POST",
                url: "/update-status",
                data: form_data,
                dataType: "json",
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function () {
                    $("#update").text("Loading....")
                    $("#update").attr("disabled", true)
                    $("#update").addClass("disabled")

                },
                success: function (data) {
                    swal('Success', 'Application status updated successfully', 'success').then(function () {
                        window.location = '/admin-student-application-list'
                    })
                },
                error: function () {
                    swal('Success', 'Application status updated successfully', 'success').then(function () {
                        window.location = '/admin-student-application-list'
                    })
                }
            });
        }
    });
</script>

{% endblock javascripts %}