{% extends 'layouts/admin_main.html' %}

{% block title %} Dashboard For Bank Users {% endblock title %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <!-- partial:../../partials/_navbar.html -->
    
    <!-- partial -->
   
      <!-- partial:../../partials/_settings-panel.html -->
      
     
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
     
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <table class="table table-striped tabe-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <td>SL</td>
                          <td>INDEX NUMBER</td>
                          <td>STUDENT NAME</td>
                          <td>CID</td>
                          <td>EMAIL</td>
                          <td>ACTION</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>gfffgd</td>
                          <td>cdddd</td>
                          <td>cnsv</td>
                          <td>fdj</td>
                          <td>
                              <a href="{{url_for('admin_blueprint.admin_student_info')}}" class="btn btn-secondary btn-mx">view</a>
                          </td>
                        </tr>
                      </tbody>

                    </table>            
                </div>
              </div>
            </div>
          </div>
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       
        <!-- partial -->
      <!-- main-panel ends -->
    
    <!-- page-body-wrapper ends -->

  <!-- container-scroller -->
  <!-- plugins:js -->
 
  <!-- pagination -->
  

{% endblock content %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}
  {% endblock javascripts %}

