<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>Tel. +975 2 584710<br>
                            <a href="mailto:#">E-mail. pk.ugyenacademy@education.gov.bt </a><br>
                            <br>
                            Fax. +975 2 584710
                        </p>	
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>	
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Our Location</h3>
                    <div class="widget-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d56637.65563805948!2d89.66011048349608!3d27.473820607645262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbt!4v1651039031702!5m2!1sen!2sbt" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Home</a> | 
                            <a href="about.html">About</a> |
                            <a href="sidebar-right.html">Sidebar</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">Sign up</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                         <a href="https://www.ugyenacademy.edu.bt/w" rel="designer"><p class="text-right">
                            Copyright &copy; Ugyen Academy, Khuruthang, Punakha, Bhutan 2022</p></a> 
                        
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>	
    
