<body>
    {% extends 'layouts/class_teacher_main.html' %}

    {% block title %} Student Management System {% endblock title %}
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
        type="text/css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf/min.js"></script>
    {% endblock stylesheets %}
    {% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Student Detail</h4>
                            <hr>

                            <div class="pos-rel">
                                <!-- Nav pills -->
                                <ul class="nav nav-pills justify-content-center nav-justified" role="tablist">
                                    <li class="nav-item">
                                        <hr class="horizontal" />
                                        <a class="nav-link active btn btn-primary" data-toggle="pill"
                                            href="#studentDetail">Student Detail</a>
                                    </li>
                                    <li class="nav-item">
                                        <hr class="horizontal" />
                                        <a class="nav-link btn btn-primary" data-toggle="pill" href="#marks_std">Student
                                            Marks</a>
                                    <li class="nav-item">
                                        <hr class="horizontal" />
                                        <a class="nav-link btn btn-primary" data-toggle="pill"
                                            href="#std_remarks">Student Remarks</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-primary" id="view-res" data-toggle="pill" href="#view_result">View
                                            Result</a>
                                    </li>
                                    </li>

                                </ul>
                                <div class="connected-line"></div>
                                <div class="tab-content">
                                    <div id="studentDetail" class="container tab-pane active">
                                        <div class="container mt-0">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-md-7">
                                                    <div class="card p-3 py-4">
                                                        <div class="text-center">
                                                            <a href="{{ std.half_photo }}" class="image-popup" title="Passport Size Photo">
                                                                <img src="{{ std.half_photo }}" width="150px" height="140px" class="rounded-circle">
                                                            </a>
                                                        </div>
                                                        <div class="text-center mt-3">
                                                            <span class="bg-secondary p-1 px-4 rounded text-white">
                                                                {{std.first_name}} {{std.last_name}}</span>
                                                            <div class="px-4 mt-1"> <br>
                                                                <p><b>Student CID:</b> {{std.student_cid}}</p>
                                                                <p><b>Index Number:</b> {{std.index_number}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="marks_std" class="container tab-pane fade">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table align-items-center table-flush"
                                                        id="customerList" style="width: 100%">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th scope="col" class="sort" data-sort="name">Subject
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">class test
                                                                    I
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="budget">Mid-term
                                                                    Exam
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">Class test
                                                                    II
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">Annual
                                                                    Exam
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">CA</th>
                                                                <th scope="col">action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="list">

                                                            {% for usr in user %}

                                                            <tr>
                                                                <th scope="row">
                                                                    {{ usr.subject }}
                                                                </th>
                                                                <th scope="row">
                                                                    {{ usr.class_test_one }}
                                                                </th>
                                                                <td class="budget">
                                                                    {{ usr.mid_term}}
                                                                </td>
                                                                <td class="budget">
                                                                    {{ usr.class_test_two}}
                                                                </td>
                                                                <td class="budget">
                                                                    {{ usr.annual_exam }}
                                                                </td>
                                                                <td class="budget">
                                                                    {{ usr.cont_assessment }}
                                                                </td>

                                                                <td class="text-right">
                                                                    <div class="dropdown">
                                                                        <a class="btn btn-sm btn-icon-only text-light"
                                                                            href="#" role="button"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </a>
                                                                        <div
                                                                            class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                                            <a class="dropdown-item"
                                                                                href="/view-std-marks/{{ sub_teacher.id }}">View</a>
                                                                            <a class="dropdown-item"
                                                                                href="javascript:void(0)">Delete</a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div id="std_remarks" class="container tab-pane fade">
                                        <form method="POST" id="update_form_std" action=""
                                            enctype="multipart/form-data">
                                            <input type="hidden" name="std_id" value="{{std.id}}">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-4 text-right"
                                                            for="punctuality">Punctuality
                                                            :</label>
                                                        <div class="col-sm-8">
                                                            <select name="punctuality" id="punctuality"
                                                                class="form-control">
                                                                <option value="">---Select---</option>
                                                                <option value="Outstanding">Outstanding</option>
                                                                <option value="Very Good">Very Good</option>
                                                                <option value="Good">Good</option>
                                                                <option value="Satisfactory">Satisfactory</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-4 text-right"
                                                            for="discipline">Discipline
                                                            :</label>
                                                        <div class="col-sm-8">
                                                            <select name="discipline" id="discipline"
                                                                class="form-control">
                                                                <option value="">---Select---</option>
                                                                <option value="Outstanding">Outstanding</option>
                                                                <option value="Very Good">Very Good</option>
                                                                <option value="Good">Good</option>
                                                                <option value="Satisfactory">Satisfactory</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-4 text-right"
                                                            for="socialservice">Social Service
                                                            :</label>
                                                        <div class="col-sm-8">
                                                            <select name="socialservice" id="socialservice"
                                                                class="form-control">
                                                                <option value="">---Select---</option>
                                                                <option value="Outstanding">Outstanding</option>
                                                                <option value="Very Good">Very Good</option>
                                                                <option value="Good">Good</option>
                                                                <option value="Satisfactory">Satisfactory</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-sm-4 text-right"
                                                            for="leadership">LeadershipQuality:</label>
                                                        <div class="col-sm-8">
                                                            <select name="leadership" id="leadership"
                                                                class="form-control">
                                                                <option value="">---Select---</option>
                                                                <option value="Outstanding">Outstanding</option>
                                                                <option value="Very Good">Very Good</option>
                                                                <option value="Good">Good</option>
                                                                <option value="Satisfactory">Satisfactory</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="supw_grade"
                                                            class="control-label col-sm-4 text-right">Supw Grade
                                                            :</label>
                                                        <div class="col-sm-8">
                                                            <select name="supw_grade" id="supw_grade"
                                                                class="form-control">
                                                                <option value="">---Select SUPW Grade---</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="D">D</option>
                                                            </select>
                                                            <span class="invalid-feedback">Please select action
                                                                type</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="supw_grade"
                                                            class="control-label col-sm-4 text-right">Status :</label>
                                                        <div class="col-sm-8">
                                                            <select name="class_status" id="class_status"
                                                                class="form-control">
                                                                <option value="">---Select---</option>
                                                                <option value="PASS">PASS</option>
                                                                <option value="FAIL">FAIL</option>
                                                            </select>
                                                            <span class="invalid-feedback">Please select action
                                                                type</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row text-center">
                                                <div class="col-md-12">
                                                    <button type="button" id="update_std"
                                                        class="btn btn-md btn-warning text-light">Submit</button>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                   
                                        <div id="view_result" class="container tab-pane fade">
                                            <div id="downloadpdf">
                                                <div id="division">
                                                    <div class="table-wrapper">
                                                        <div class="table-title">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    <h6>STATEMENT OF MARKS</h6> <br>
                                                                    <p><b>Student Name :</b> {{std.first_name}} {{std.last_name}}</p> <br>
                                                                    <p><b>Index Number :</b> {{std.index_number}}</p> <br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <table class="table align-items-center table-flush"
                                                        id="viewtableresuslt" style="width: 100%">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th scope="col" class="sort" data-sort="name">Subject
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">class test
                                                                    I
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="budget">Mid-term
                                                                    Exam
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">Class test
                                                                    II
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">Annual
                                                                    Exam
                                                                </th>
                                                                <th scope="col" class="sort" data-sort="name">CA</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody class="list1">

                                                            {% for usrs in user %}

                                                            <tr>
                                                                <th scope="row">
                                                                    {{ usrs.subject }}
                                                                </th>
                                                                <th scope="row">
                                                                    {{ usrs.class_test_one }}
                                                                </th>
                                                                <td class="budget">
                                                                    {{ usrs.mid_term}}
                                                                </td>
                                                                <td class="budget">
                                                                    {{ usrs.class_test_two}}
                                                                </td>
                                                                <td class="budget">
                                                                    {{ usrs.annual_exam }}
                                                                </td>
                                                                <td class="budget">
                                                                    {{ usrs.cont_assessment }}
                                                                </td>

                                                               
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    
                                                        <hr>
                                                        <h4 class="card-title">Student Individual Remarks :</h4>
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>sl</th>
                                                                        <th>Personal Qualities</th>
                                                                        <th>Rating</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Punctuality</td>
                                                                        <!-- <td>{{std.punctuality}}</td> -->
                                                                        <td>Outstanding</td>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Discipline</td>
                                                                        <!-- <td>{{std.discipline}}</td> -->
                                                                        <td>Outstanding</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td>Social Service</td>
                                                                        <!-- <td>{{std.social_service}}</td> -->
                                                                        <td>Outstanding</td>
                                                                    </tr> 
                                                                    <tr>
                                                                        <td>4</td>
                                                                        <td>Leadership Quality</td>
                                                                        <!-- <td> {{std.leadership_quality}}</td> -->
                                                                        <td>Outstanding</td>                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>5</td>
                                                                        <td>Supw Grade</td>
                                                                        <td> {{std.supw_grade}}</td>
                                                                        
                                                                    </tr>
                                                                    <tr>
                                                                        <td>6</td>
                                                                        <td>Status</td>
                                                                        <!-- <td> {{std.status_remarks}}</td> -->
                                                                        <td>PASS</td>
                                                                    </tr>                                       
                                                                </tbody>
                                                            </table>
                                                    </div><br>                                                
                                                </div>
                                            </div>
                                            <div style="text-align: center; ">
                                                <button class="btn btn-primary"><a href="javascript:generatePDF()" id="downloadpages" style="color:white ; text-decoration: none;"><i class="fa fa-download"></i> Download</a></button>
                                                <button onclick="printContent ('division')" class="btn btn-primary"><i class="fa fa-print"></i> Print Result</button>
                                            </div>
                                        </div>
     
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        loadUsers()
    });
    function loadUsers() {
        $('#customerList').DataTable({
            'processing': true,
            'serverSide': true,
            'bDestroy': true,
            'serverMethod': 'POST',
            'ajax': {
                'url': '/get-subject-marks'
            },
            'columns': [
                { data: 'subject' },
                { data: 'class_test_one' },
                { data: 'mid_term' },
                { data: 'class_test_two' },
                { data: 'annual_exam' },
                { data: 'cont_assessment' },
                {
                    "render": function (data, type, full, meta) {
                        return '<div class="dropdown">' +
                            '<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:orange">' +
                            '<b>Click</b>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">' +
                            '<a class="dropdown-item" href="/view-std-marks/' + full.id + '">View</a>' +
                            '<a class="dropdown-item" href="">Delete</a>' +
                            '</div>' +
                            '</div>'
                    }
                },
            ],
            language: {
                paginate: {
                    next: '&#8594;', // or '→'
                    previous: '&#8592;' // or '←' 
                }
            },
            "ordering": false
        });
    }



    // ================================================== //
  
 $('#view-res').click(function(){
        $('#viewtableresuslt').DataTable({
            'processing': true,
            'serverSide': true,
            'bDestroy': true,
            'serverMethod': 'POST',
            'ajax': {
                'url': '/get-std-result'
            },
            'columns': [
                { data: 'subject' },
                { data: 'class_test_one' },
                { data: 'mid_term' },
                { data: 'class_test_two' },
                { data: 'annual_exam' },
                { data: 'cont_assessment' },
            
            ],
            language: {
                paginate: {
                    next: '&#8594;', // or '→'
                    previous: '&#8592;' // or '←' 
                }
            },
            "ordering": false
        });
    
    })

    // for deleting
    function deleteUser(id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            type: "warning",
            showCancelButton: true,
            showConfirmButton: true
        }).then(function (isConfirm) {
            if (isConfirm.value == true) {
                $.ajax({
                    url: '/delete/' + id,
                    type: 'POST',
                    success: function () {
                        swal({
                            title: 'Success!',
                            text: 'User delete successful!',
                            type: 'success'
                        }).then(function () {
                            loadUsers();
                        });
                    },
                    error: function () {
                        swal("Error", "Error while deleting user. Refresh page and try again :)", "error");
                    }
                })

            } else {
                swal("Cancelled", "Your data is safe :)", "error");
            }
        })
    }

    // ========================================================

    $("#supw_grade").on('change', function () {
        if (this.value == '') {
            $("#supw_grade").addClass('is-invalid')
        } else {
            $("#supw_grade").removeClass('is-invalid')
            $("#supw_grade").addClass('is-valid')
        }
    });

    $("#update").on('click', function () {
        if ($("#supw_grade").val() == '') {
            $("#supw_grade").addClass('is-invalid')
        } else {
            var form_data = new FormData($('#update_form')[0])
            swal('Success', 'Assessment successfully done', 'success').then(function () {
                window.location = '/view-std-class-marks'
            })
        }
    });


    // update std evaluation
    $("#update_std").click(function () {
        var form_data = new FormData($('#update_form_std')[0])
        $.ajax({
            type: "POST",
            url: "/update-std-evaluation",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (data) {
                if (data === "errorFound") {
                    swal('Error', 'Update Failed', 'error').then(function () {
                        location.reload()
                    })
                } else {
                    swal('Success', ' Information Successfully Updated', 'success').then(function () {
                        window.location = ""
                    })
                }

            },
            error: function () {
                swal('Error', 'Update Failed', 'error').then(function () {
                    location.reload()
                })
            }
        });
    });


// script for print

function printContent(el){
    var restorepage = document.body.innerHTML;
    var printcontent = document.getElementById(el).innerHTML;
    document.body.innerHTML = printcontent;
    window.print();
    document.body.innerHTML = restorepage;
}

        // DOWNLOAD
async function generatePDF() {
    document.getElementById("downloadpages").innerHTML = " Downloading";
        // download
    var downloading = document.getElementById("downloadpdf");
    var doc = new jsPDF('l', 'pt');

    await html2canvas(downloading, {
       allowTaint: true,
       useCORS: true,
    }).then((canvas) =>{
       doc.addImage(canvas.toDataURL("image/png"), 'PNG', 100, 10, 600, 600) 
    })
    doc.save("Document.pdf");
    // DOWNLOADING CODE
    document.getElementById("downloadButton").innerHTML = "click to download";

}
</script>

{% endblock javascripts %}

</body>

<!-- HTML + css ->PNG(html2canvas) -->
<!-- PNG ->add to pdf (jspdf) -->
<!-- Download PDF (jsPDF) -->